<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Placemat Admin</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>        
        <section>
            <h2 class="full-width-borders"><img src="/images/placemat.png"/>BKB Placemat Admin</h2>                       
            <form action="/admin" method="POST">
                <p>Titel des Themas eingeben:</p>
                <input type="text" name="tbxTitel" id="tbxTitel" placeholder="Titel" value="MeinPlacemat">
                <p>Anzahl der Gruppen eingeben:</p>
                <input type="number" name="tbxAnzahlGruppen" id="tbxAnzahlGruppen" placeholder="4" value="4">            
                <p>Dauer Think-Phase in Minuten:</p>
                <input type="number" name="tbxThink" id="tbxThink" placeholder="4" value="2">            
                <p>Dauer Pair-Phase in Minuten:</p>
                <input type="number" name="tbxPair" id="tbxPair" placeholder="4" value="3">            
                <p></p>
                <button id="btnButton" background-color="green">Absenden</button>            
            </form>
            <p><%= footnote %></p>        
            <p>&copy; 2018 Mein Name<br></p>        
        </section>
    </body>
</html>