<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Placemat</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
                
        <script>
            var now = new Date();                        
            var audio = new Audio('notify.mp3');            
            var millisTill10 = new Date(now.getFullYear(), now.getMonth(), now.getDate(), '<%= stunde%>', '<%= minute%>', 0, 0) - now;
            if (millisTill10 < 0) {
                millisTill10 += 86400000; // it's after 10am, try 10am tomorrow.
            }
            setTimeout(function(){audio.play();}, millisTill10);            
            setTimeout(function(){alert("It's 10am!");}, millisTill10);            
        </script>
    </head>
    <body>
        <section>                                
            <h2 class="full-width-borders"><img src="/images/placemat.png"/>BKB Placemat</h2>                       
            <p><%= stunde%></p>
            <% for(var i=0; i < anzeigen.length; i++) {%>
                <p><%- anzeigen[i] %></p><hr>                    
            <% } %>                   
        
            <form action="" method="POST" <% if (anzeigen.length == 1){%>style="display: none" <%}  %>>            
                <p></p>
                <input type="text" name="tbxName" id="tbxName" placeholder="Mein Name ...">                                        
                <button id="btnButton">Beitreten</button>
            </form>
            <p>&copy; GW11</p>         
        </section>        
    </body>
</html>